div.scroll {   
#height: 280px;   
width: 100%;   
overflow: auto;   
#border: 1px solid #666;   
#background-color: #ccc;   
padding: 8px;   
}
#map{
	width: 100%;
	height:56%;
	position: absolute;
}
#iframe-wrap {
    height: 100%;
    overflow: visible;
    position: relative;
    top: 54px;
    z-index: 50;
}
#blog
{
	align:"center";
	#transform-orign:10% 50%;
	width:100%;
	height:500px;
}
